@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
@layer utilities {
  *.hiden {
    display: none !important;
  }
  .loader {
    position: relative;
    display: inline-block;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background: conic-gradient(#274a99 0%, transparent 65%);
    animation: radarRotate 2s linear infinite;
  }

  @keyframes radarRotate {
    100% {
      transform: rotate(-360deg);
    }
  }
  .loader::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    left: calc(50% - 8px);
    border: 8px solid transparent;
    border-top: 120px solid #274a99;
    filter: drop-shadow(0 0 12px #274a99);
  }
  .loader-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .loader-content button {
    position: relative;
    cursor: pointer;
    height: 240px;
    width: 240px;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 50%;
    background-color: #274a99;
    color: #eaeaea;
    border: 0;
    box-shadow: 0 0 12px #274a99;
  }

  .loader-content.result button {
    height: 180px;
    width: 180px;
    padding: 1rem;
  }
  .loader-content button::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: 2px solid #274a99;
    border-radius: 50%;
    animation: btnRing 2s linear infinite;
  }
  @keyframes btnRing {
    60%,
    100% {
      height: calc(100% + 60px);
      width: calc(100% + 60px);
      top: -32px;
      left: -32px;
      opacity: 0;
    }
  }
  .loader-content button::after {
    content: "";
    position: absolute;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, #274a99, #eaeaea);
    border: 2px solid #274a99;
    z-index: -1;
    border-radius: 50%;
    animation: btnRing 2s linear;
  }

  .loader-content button:hover {
    background-color: #17367e;
  }
  .content {
    display: flex;
    width: 100%;
    font-size: 70px;
    margin: 12px 0 32px 0;
    justify-content: center;
    align-items: baseline;
  }

  .content small {
    font-size: 60%;
  }
}
