@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes slideFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animated-span-left,
  .animated-span-right {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  .animated-span-left:nth-child(even) {
    animation-name: slideFromLeft;
  }
  .animated-span-left:nth-child(odd) {
    animation-name: slideFromRight;
  }
  .animated-span-right:nth-child(even) {
    animation-name: slideFromRight;
  }
  .animated-span-right:nth-child(odd) {
    animation-name: slideFromLeft;
  }
  @keyframes show {
    from {
      opacity: 0;
      scale: 25%;
    }
    to {
      opacity: 1;
      scale: 100%;
    }
  }
  /**animation images **/
  .show-image {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
  }
}
